body {
	margin:0;
	padding:0;
	background:#ffffff url(../../../images/module/bglogin/background-body.jpg) repeat-x top;
}
.loginContent {
	width:980px;
	height:280px;
	margin:0 auto;
	padding:230px 0 0 0;
	background: url(../../../images/module/bglogin/background.jpg) no-repeat top left;
}
.lock{
	background-image:url(../../../images/common/icons/lock.png) !important;
}
.reset{
	background-image:url(../../../images/common/icons/reset.png) !important;
}
