a:link{color: #000000;text-decoration: none} 
a:visited{color: #000000;text-decoration: none} 
a:hover{color: #000000;text-decoration: underline} 
a:active{color: #000000; text-decoration: underline}

.MainTopBG{
	background-image:url(../../../../../res/images/module/admin/main/nav_bg.jpg); 
    margin: 0;
    padding: 0;
    border: 0 none;
    overflow: hidden;
    height: 60;
}

.TabIcons{
	background-image:url(../../../../../res/images/common/icons/tab.gif) !important;
}

.TreeFileNode{
	background-image:url(../../../../../res/images/common/icons/file.gif) !important;
}

.close{
	background-image:url(../../../../../res/images/common/icons/close.gif) !important;
}

.closeothers{
	background-image:url(../../../../../res/images/common/icons/closeothers.gif) !important;
}

.fresh{
	background-image:url(../../../../../res/images/common/icons/refresh.gif) !important;
}

